html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    /* -webkit-scrollbar: none; */

  }
  body::-webkit-scrollbar {
    display: none;
  }
  canvas {
    display: block;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
  }

  